.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.item.active .link {
  color: black;
  background-color: navajowhite;
}

.link {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 7px 20px;
  color: white;
  background-color: brown;
  border-radius: 5px;
}

.link:hover {
  background-color: #ffffff94;
  color: #fff;
}
