body {
  margin: 0;
  background-color: black;
}

.content {
  min-height: calc(100vh - 84px);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 1280px) {
    padding: 0 32px;
    width: 1280px;
  }
}
