body {
  margin: 0;
  background-color: black;
  display: flex;
}

#root {
  flex-direction: column;
  min-height: 1005%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 1280px) {
    padding: 0 32px;
    width: 1280px;
  }
}

main {
  min-height: calc(100vh - 293px);
}
